$color-primary: #ebebeb;
$color-secondary: #793232;
$color-background: #ebebeb;

$color-text: rgb(80, 77, 77);
$color-white: #fff;
$color-black: #333333;
$color-black-2: #494747;
$color-red: #f73e3ede;